@{
    ViewBag.Title = "Home Page";
}

       <div class="row" style="margin-top:15px;">
           <div class="col-md-12">
               <form>
                   <div class="form-group">
                       <label>Model</label>
                       <select name="Model" class="form-control">
                           <option value="0"></option>
                           <option value="Honda">Honda</option>
                           <option value="Audi">Audi</option>
                           <option value="Nissan">Nissan</option>
                       </select>
                   </div>
               </form>
               <table class="table table-bordered">
                   <thead>
                       <tr >
                           <th>Model Name</th>
                           <th>Marka Name</th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr class="timing">
                           <td></td>
                           <td></td>
                       </tr>
                   </tbody>
               </table>
           </div>
       </div>